@media (min-width: 769px) {
    body {
        background-image: url("./assets/home/background-home-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .info-text {
        height: 382px;
        width: 450px;
    }

    body {
        margin: 0px;
        position: relative;
        background-color: #0B0D17;
    }

    .heading-one {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 150px;
        line-height: 172px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .heading-two {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 100px;
        line-height: 115px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .heading-three {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .heading-four {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .heading-five {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        /* identical to box height */
        letter-spacing: 4.725px;
        text-transform: uppercase;
        color: #D0D6F9;
    }

    .subheading-one {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .subheading-two {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 2.3625px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .nav-text {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .body-text {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        /* or 178% */
        color: #FFFFFF;
    }

    .navbar {
        height: 96px;
        width: auto;
        display: flex;
        margin-top: 40px;
        float: right;
    }

    .navbar img {
        padding-right: 493px;
        width: 48px;
        height: 48px;
        padding-top: 23px;
    }

    .navbar-rectangle {
        margin-top: 47px;
        margin-left: -433px;
        width: 473px;
        height: 1px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.25;
    }

    .navbar-elements {
        display: flex;
        width: 830px;
        height: 96px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
        text-align: center;
    }

    .navbar ul {
        list-style-type: none;
        display: flex;
        padding-left: 83px;
        padding-right: 125px;
    }

    .navbar li {
        text-align: center;
        padding-top: 23px;
        padding-right: 48px;
    }

    .navbar a {
        text-decoration: none;
    }

    .content{
        display: inline-flex;
        margin: 251px 165px 131px 165px;
    }

    .info-text{
        margin-right: 386px;
    }

    .info-text-body-color {
        color: #D0D6F9
    }

    .explore-button {
        color: #0B0D17;
        background-color: white;
        height: 274px;
        width: 274px;
        border-radius: 50%;
        text-align: center;
    }

    .explore-button-text {
        padding-top: 121px;
    }
}