@media (max-width: 376px) {
    body {
        background-image: url("./assets/home/background-home-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .info-text {
        width: 327px;
        height: 276px;
    }

    body {
        margin: 0px;
        position: relative;
        background-color: #0B0D17;
    }

    .heading-one {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 100px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
    }

    .heading-two {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 100px;
        line-height: 115px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .heading-three {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .heading-four {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
        text-transform: uppercase;
        letter-spacing: 1.25px;
        color: #FFFFFF;
        text-align: center;
    }

    .heading-five {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        letter-spacing: 2.7px;
        text-transform: uppercase;
        text-align: center;
        color: #D0D6F9;
    }

    .subheading-one {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .subheading-two {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 2.3625px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .nav-text {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3625px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .body-text {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        /* or 178% */
        color: #FFFFFF;
        text-align: center;
    }

    .navbar img {
        width: 40px;
        height: 40px;
        padding-top: 24px;
        margin-left: 24px;
    }

    .navbar-elements {
        margin-right: 24px;
        float: right;
    }

    .navbar-rectangle {
        display: none;
    }

    .content {
        display: inline-grid;
        margin: 45px 24px 48px 24px;
    }

    .info-text-body-color {
        color: #D0D6F9
    }

    .info-text-bottom-padding {
        padding-bottom: 16px;
    }

    .explore-button {
        color: #0B0D17;
        background-color: white;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-top: 81px;
        margin-left: 89px;
        margin-right: 89px;
    }

    .explore-button:hover {
        box-shadow: 0px 0px 1px 47px rgb(255, 255, 255, 10%); 
    }

    .explore-button-text {
        padding-top: 65px;
    }


    /* hamburger menu */
    #menuToggle {
        display: block;
        position: relative;
        margin-top: 34px;
    }

    #menuToggle a {
        text-decoration: none;
        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: tomato;
    }


    #menuToggle input {
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #menuToggle .ham {
        display: block;
        width: 24px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: #D0D6F9;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle .ham:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle .ham:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked~.ham {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, 1px);
        background: #D0D6F9;
    }

    #menuToggle input:checked~.ham:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~.ham:nth-last-child(2) {
        transform: rotate(-45deg) translate(1px, -3px);
    }

    #menu {
        position: absolute;
        width: 250px;
        margin: -35px 0 0 -327px;
        padding-bottom: 24px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        text-align: center;
        padding-top: 23px;
        padding-right: 48px;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }
}