@media (min-width: 376px) and (max-width: 768px) {
    body {
        background-image: url("./assets/home/background-home-tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .info-text {
        height: 334px;
        width: 450px;
    }

    body {
        margin: 0px;
        position: relative;
        background-color: #0B0D17;
    }

    .heading-one {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 150px;
        line-height: 150px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .heading-two {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 100px;
        line-height: 115px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .heading-three {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .heading-four {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #FFFFFF;
    }

    .heading-five {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */
        letter-spacing: 3.375px;
        text-transform: uppercase;
        text-align: center;
        color: #D0D6F9;
    }

    .subheading-one {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .subheading-two {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 2.3625px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .nav-text {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3625px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .body-text {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        /* or 178% */
        text-align: center;
        color: #FFFFFF;
    }

    .navbar {
        height: 96px;
        width: auto;
        display: flex;
        float: right;
    }

    .navbar img {
        padding-right: 231px;
        width: 48px;
        height: 48px;
        padding-top: 23px;
    }

    .navbar-rectangle {
        display: none;
    }

    .navbar-elements {
        display: flex;
        width: 450px;
        height: 96px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
        text-align: center;
    }

    .navbar ul {
        list-style-type: none;
        display: flex;
        padding-left: 48px;
        padding-right: 11px;
    }

    .navbar li {
        text-align: center;
        padding-top: 23px;
        padding-right: 37px;
    }

    .navbar input {
        display: none;
    }
    
    .navbar a {
        text-decoration: none;
    }

    .number {
        display: none;
    }

    .content{
        display: inline-grid;
        margin: 106px 159px 90px 159px;
    }

    .info-text-body-color {
        color: #D0D6F9
    }

    .info-text-bottom-padding {
        padding-bottom: 24px;
    }
    
    .explore-button {
        color: #0B0D17;
        background-color: white;
        height: 242px;
        width: 242px;
        border-radius: 50%;
        text-align: center;
        margin-top: 156px;
        margin-left: 104px;
        margin-right: 104px;
    }

    .explore-button-text {
        padding-top: 105px;
    }
}