@media (max-width: 376px) {
    body {
        background-image: url("../assets/destination/background-destination-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
        position: relative;
        background-color: #0B0D17;
    }

}