@media (max-width: 376px) {
    body {
        background-image: url("../assets/home/background-home-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .info-text {
        width: 327px;
        height: 276px;
    }

    body {
        margin: 0px;
        position: relative;
        background-color: #0B0D17;
    }

    .heading-one {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 100px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
    }

    .heading-two {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 100px;
        line-height: 115px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .heading-three {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .heading-four {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
        text-transform: uppercase;
        letter-spacing: 1.25px;
        color: #FFFFFF;
        text-align: center;
    }

    .heading-five {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        letter-spacing: 2.7px;
        text-transform: uppercase;
        text-align: center;
        color: #D0D6F9;
    }

    .subheading-one {
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .subheading-two {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 2.3625px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .body-text {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        /* or 178% */
        color: #FFFFFF;
        text-align: center;
    }

    .content {
        display: inline-grid;
        margin: 45px 24px 48px 24px;
    }

    .info-text-body-color {
        color: #D0D6F9
    }

    .info-text-bottom-padding {
        padding-bottom: 16px;
    }

    .explore-button {
        color: #0B0D17;
        background-color: white;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-top: 81px;
        margin-left: 89px;
        margin-right: 89px;
    }

    .explore-button:hover {
        box-shadow: 0px 0px 1px 47px rgb(255, 255, 255, 10%); 
    }

    .explore-button-text {
        padding-top: 65px;
    }
}