@media (min-width: 769px) {
    .nav-text {
        font-family: 'Barlow Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .navbar {
        height: 96px;
        width: auto;
        display: flex;
        margin-top: 40px;
        float: right;
    }

    .navbar img {
        padding-right: 493px;
        width: 48px;
        height: 48px;
        padding-top: 23px;
    }

    .navbar-rectangle {
        margin-top: 47px;
        margin-left: -433px;
        width: 473px;
        height: 1px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.25;
    }

    .navbar-elements {
        display: flex;
        width: 830px;
        height: 96px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
        text-align: center;
    }

    .navbar input {
        display: none;
    }

    .navbar ul {
        list-style-type: none;
        display: flex;
        padding-left: 83px;
        padding-right: 125px;
    }

    .navbar li {
        text-align: center;
        padding-top: 23px;
        padding-right: 48px;
    }

    .navbar a {
        text-decoration: none;
    }

    .navbar a:hover {
        text-decoration: underline;
        text-underline-offset: 40px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    .navbar a.active {
        text-decoration: underline;
        text-underline-offset: 40px;
        text-decoration-color: rgba(255, 255, 255, 1);
    }

}